<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diskvai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.InterfaceCliente.EditarClienteActivity"></activity>
        <activity android:name=".Activities.InterfaceEmpresa.EditarProdutoActivity" />
        <activity android:name=".Activities.InterfaceEmpresa.CadastrarEntregadoresEmpActivity" />
        <activity android:name=".Activities.InterfaceCliente.ListarProdutosCliActivity" />
        <activity android:name=".Activities.InterfaceEmpresa.EditarEmpresaActivity" />
        <activity android:name=".Activities.InterfaceEmpresa.EditarEntregadorActivity" />
        <activity android:name=".Activities.InterfaceEmpresa.CadastrarFormaPagamentoActivity" />
        <activity android:name=".Activities.PoliticaDePrivacidadeActivity" />
        <activity android:name=".Activities.InterfaceEmpresa.CadastrarProdutoActivity" />
        <activity android:name=".Activities.InterfaceEmpresa.ListarProdutosActivity" />
        <activity android:name=".Activities.InterfaceCadastro.CompletarCadastroGoogleActivity" />
        <activity android:name=".Activities.InterfaceCadastro.CompletarCadastroFacebookActivity" />
        <activity android:name=".Activities.InterfaceEmpresa.ListarEntregadorActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.InterfaceCadastro.CadastroEntregadorActivity" />
        <activity android:name=".Activities.InterfaceEntregador.EntregadorHomeActivity" />
        <activity android:name=".Activities.InterfaceEmpresa.EmpresaHomeActivity" />
        <activity android:name=".Activities.InterfaceCliente.ClienteHomeActivity" />
        <activity android:name=".Activities.InterfaceCadastro.CadastroEmpresaActivity" />
        <activity android:name=".Activities.InterfaceCadastro.CadastroClienteActivity" />
        <activity android:name=".Activities.InterfaceCadastro.MenuCadastroActivity" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>